Alligator_H743/Debug/*
Retrospector_H743/Debug/*
Retrospector_H743_v2/Debug/*
Retrospector_F429/Debug/*
Hardware_v1/*
bu/*
*.html
*.log
*.bak
*.fxp
*.sch-bak
*.zip
*.dmp
*.par
*.tw1
*.twr
*.tws
*.mrp
*.hrr
*.bgn
*.kicad_pcb-bak
*.d
*.su
*.o
*.mk
*.list
*.map
*.launch
bin_to_wav/demofile2.txt
bin_to_wav/encoded.wav
bin_to_wav/.vscode/.ropeproject/config.py
bin_to_wav/.vscode/.ropeproject/objectdb
bin_to_wav/encoded - Copy.wav
Hardware/_autosave-Retrospector_Components.kicad_pcb
Hardware/_autosave-Retrospector_Components.sch
jlc_bom_v2.xls
Hardware/\#auto_saved_files\#
*.lck
Hardware/_autosave*
