Alligator_H743/Debug/*
Retrospector_H743/Debug/*
Retrospector_F429/Debug/*
Hardware_v1/*
*.html
*.log
*.bak
*.fxp
*.sch-bak
*.zip
*.dmp
*.par
*.tw1
*.twr
*.tws
*.mrp
*.hrr
*.bgn
*.kicad_pcb-bak
*.d
*.su
*.o
*.mk
*.list
*.map
*.launch
~$WS2812 Calc.xlsx
